<script src="~/Scripts/navbar-menu.js"></script>
@{
    ViewBag.Title = "GoodNews";
}
<div class="jumbotron">
    <h2>GoodNews</h2>
</div>
    <table class="">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td>Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu</td>
            </tr>
        </tbody>
        
    </table>
