<script src="~/Scripts/navbar-menu.js"></script>
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>Index</h2>
    <ul>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat nisl ac dui posuere, quis pharetra dui vehicula. Aenean eu interdum odio, sed tempor risus. Quisque at gravida purus, eu gravida sem. Ut bibendum volutpat sodales. Donec porttitor viverra leo et viverra. Nullam risus risus, gravida id ullamcorper convallis, blandit fermentum neque. Morbi tempus pulvinar arcu sed cursus. Aliquam dapibus pulvinar dignissim. Proin mauris mauris, vehicula congue quam id, luctus scelerisque leo. Nullam suscipit sem elementum nibh vehicula, eget dictum leo sagittis. Phasellus pharetra lacinia fermentum. Integer tempor sapien leo, vitae tristique justo faucibus a.

        Etiam sollicitudin efficitur nunc eu sodales. Praesent eu tempor purus. Nunc feugiat feugiat turpis eu dictum. Morbi accumsan eros et nisl auctor porta. In ut nibh vitae arcu rutrum mattis. Nulla sit amet pellentesque elit, eleifend facilisis magna. Nunc porta nec ipsum quis tempus. Mauris ipsum purus, elementum vitae lobortis ut, ultricies vitae magna. Nulla placerat suscipit felis, in porta sem volutpat sit amet. Duis eu est vitae diam tincidunt accumsan. Sed sagittis augue in ligula varius dignissim. Donec iaculis imperdiet ex, a volutpat elit vulputate ac. Phasellus malesuada suscipit quam, sed pulvinar massa finibus sit amet.

        Nunc at accumsan tellus. Etiam porta at lacus eget ultrices. Donec tellus arcu, sodales id laoreet quis, sodales a elit. Morbi elementum sodales erat condimentum suscipit. Aenean eget nibh risus. Maecenas ultrices convallis sapien sit amet bibendum. Praesent porttitor imperdiet ante ac blandit. Duis placerat velit vitae nibh ornare gravida.

        Donec congue eros quis velit aliquet maximus. Ut placerat, felis gravida efficitur mollis, sapien ligula blandit libero, eu molestie ante diam ac nisi. Etiam mollis risus ut imperdiet blandit. Mauris aliquam lobortis nunc eget tempor. Vivamus blandit, turpis at tempor dignissim, justo risus scelerisque sapien, vitae lobortis justo nisl ac lorem. Nunc risus nunc, pellentesque in hendrerit at, varius molestie leo. Sed porttitor feugiat ligula, quis interdum odio lacinia a. Nam fringilla enim lectus, non congue quam placerat non. Vivamus a eros ornare, ultricies est vel, fringilla odio. Etiam porttitor at ligula vel convallis. Fusce id dignissim purus.

        Aenean ac vestibulum dui, eu pretium diam. Sed a accumsan quam. Suspendisse condimentum egestas interdum. Donec quis tellus aliquam, facilisis odio in, elementum mauris. Etiam sapien quam, fermentum a cursus et, semper sit amet justo. In eu commodo ex. Curabitur sit amet pulvinar tortor, ac consectetur augue. Suspendisse convallis sem sed purus volutpat, id ullamcorper tortor tempus. Curabitur sodales nulla tortor, quis placerat lacus fringilla in. Vivamus at lacinia quam, ut mattis nisl. Curabitur consectetur mauris non nulla cursus ullamcorper. Integer vestibulum suscipit magna in consequat. Vestibulum fermentum scelerisque metus bibendum consectetur. Vestibulum laoreet nibh at velit facilisis blandit. Integer viverra tincidunt mi sit amet eleifend. Quisque viverra, leo accumsan ultricies pellentesque, justo nibh ornare sapien, et tincidunt orci nisi eu nisl.
    </ul>
</div>

