<script src="~/Scripts/navbar-menu.js"></script>
@{
    ViewBag.Title = "NewsAlreadyPublished";
}
<div class="jumbotron">
    <h2>NewsAlreadyPublished</h2>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>LastDateFetched</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Etiam sollicitudin efficitur nunc eu sodales</td>
            <td>@DateTime.Now</td>
        </tr>
        <tr>
            <td>Donec congue eros quis velit aliquet maximus.</td>
            <td>@DateTime.Now</td>
        </tr>
        <tr>
            <td>Aenean ac vestibulum dui, eu pretium diam.</td>
            <td>@DateTime.Now</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    </tr>
</table>

